.headerbg{
    background:white;
    color: white;
    width: 100%;
    height: 75px;
    position: relative;
    text-align: center;
    border-bottom: solid #4aaaa5;
    border-width: 5px;
}

.profile{
    background: white;
    color: white;
    width: 250px;
    height: 35px;
    font-size: 18px;
    position: absolute;
    left: 910px;
    padding: 20px;
    text-align: center;
}

.header {
    background: #4aaaa5;
    color: white; 
    height: 35px;
    width: 275px;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;.
    top:0px;
    left: 100px;
    padding: 20px;
    position: absolute;
    text-align: center;
  }

.mainSection{
    background: white;
    color: black;
    font-family: 'Arial', 'Helvetica Ne', Helvetica, sans-serif;
    height: 345px;
    width: 640px;
    font-size: 20px;
    margin-left: 100px;
    float: left;
    margin-top: 10px;
    clear:both;
    padding: 20px;  

}

.main{
    background: white;
    float: left;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
}

.abtme{
    background: blue
    font-color:black;
    position: absolute;
}

.sidebar{
    background: white;
    color: black;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 240px;
    width: 260px;
    float: left;
    margin-top: 10px;
    margin-left: 160px;
    padding-top: 20px;
    text-align: center;
}

.footer{
    background:rgb(66, 66, 66);
    color: white;
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: solid #4aaaa5;
    border-width: 5px;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    color: red;
}
hr.hr{
    width:100%;
}

.clearfix{
    background: blue;
   float: left;
}

/* below is code for contact*/
.contact{
    background: yellow;
    color: black;
    height: 450px;
    width: 650px;
    margin-left: 100px;
    position: relative;
    top: 0;
    left:0;
    float: left;