.test{
    background:whitesmoke;
    color: white;
    width: 100%;
    height: 75px;
    position: relative;
    text-align: center;
    border-bottom: solid #585858;
    border-width: 5px;
}

.profile{
    background: white;
    color: white;
    width: 250px;
    height: 35px;
    font-size: 18px;
    position: absolute;
    left: 910px;
    padding: 20px;
    text-align: center;
}

.header {
    background: #4aaaa5;
    color: white; 
    height: 35px;
    width: 275px;
    font-size: 20px;
    top:0px;
    left: 100px;
    padding: 20px;
    position: absolute;
    text-align: center;
  }

.mainSection{
    background: yellow;
    color: black;
    height: 440px;
    width: 650px;
    margin-left: 100px;
    float: left;

}

.sidebar{
    background: orange;
    color: black;
    height: 250px;
    width: 270px;
    float: left;
    margin-left: 160px;
    text-align: center;
}

.footer{
    background:rgb(66, 66, 66);
    color: white;
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    border-top: solid #00aeff;
    border-width: 15px;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    color: red;
}
hr.hr{
    width:100%;
}

.contact{
    background: yellow;
    color: black;
    height: 450px;
    width: 650px;
    margin-left: 100px;
    position: relative;
    top: 0;
    left:0;
    float: left;